html, body, #map {
    height: 100%;
    width: 100%;
}



/*----------------------------------------------------------------------------*/
[v-cloak] { display:none }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



/*----------------------------------------------------------------------------*/
#map {
	z-index: 1;
    min-height: 200px;
}
#map .leaflet-control-attribution {
    display: none;
}



/*----------------------------------------------------------------------------*/

#app-container, .app-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#app-container {
	z-index: 2;
	pointer-events: none;
}

.app-mask {	
	z-index: -1;
	background: #FFF;
}

.app-full-screen, .app-left-screen, .app-right-screen {
    pointer-events: auto;
}

.app-frame {
	background: rgba(255,255,255,0.9);
	margin: 1em;
}