@import url("/_/typeface-montserrat/index.css");



/*----------------------------------------------------------------------------*/
html, body, #map {
    height: 100%;
    width: 100%;
}



/*----------------------------------------------------------------------------*/
[v-cloak] { display:none }

.fade-enter-active, .fade-leave-active {
  transition: all 0.6s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



/*----------------------------------------------------------------------------*/
#map {
    min-height: 200px;
}

#map .leaflet-control-attribution {
    display: none;
}

#map a.leaflet-contextmenu-item {
	font-size: 14px;
	padding: 1em;
	white-space: nowrap;
}

#map .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 1px solid #EEE;
    border-radius: 6px;
}

#map .leaflet-bar a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: rgba(255,255,255,0.8);
	border-color: #EEE;
}

#map .leaflet-control-zoom-in span, #map .leaflet-control-zoom-out span {
	font-size: 0.7em;
	color: #444;
}

#map .leaflet-bar a:hover  {
	background: rgba(255,255,255,0.95);
}

#map .leaflet-bar a.leaflet-disabled:hover {
	background: rgba(255,255,255,0.6);
}


#map .leaflet-right .leaflet-control {
	margin-bottom: 1em;
}

#map .leaflet-control-zoom-in a:hover, #map .leaflet-control-zoom-out a:hover{
    background: #FAFAFA;
	color: #111;
}

#map .leaflet-bar .leaflet-disabled span {
	opacity: 0.5;
}


#map .leaflet-control-locate.active a {
	color: #3273dc;
}

#map .lx-marker {
	text-align: center;
	background: #1051ba;
	color: #FFF;
	border-width: 2px;
	border-style: solid;
}

#map .lx-marker-draft {
	background: #3273dcs;;
	border-width: 0px;
	opacity: 0.85;
}


#map .lx-marker, #map .lx-marker i {
	border-radius: 100em;
}

.lx-map-zoom-close #map .lx-marker, .lx-map-zoom-very-close #map .lx-marker  {
	font-size: 16px;
	line-height: 32px;
	width: 34px !important;
	height: 34px !important;
	margin-left: -16px !important;
	margin-top: -16px !important;
}


.lx-map-zoom-somewhat-close #map .lx-marker {
	font-size: 12px;
	line-height: 24px;
	width: 26px !important;
	height: 26px !important;
	margin-left: -12px !important;
	margin-top: -12px !important;
}



.lx-map-zoom-normal #map .lx-marker {
	font-size: 9px;
	line-height: 18px;
	width: 19px !important;
	height: 19px !important;
	margin-left: -9px !important;
	margin-top: -9px !important;
	border-width: 1px;
}


.lx-map-zoom-somewhat-far #map .lx-marker {
	width: 10px !important;
	height: 10px !important;
	margin-left: -5px !important;
	margin-top: -6px !important;
	border-width: 1px;
}


.lx-map-zoom-far #map .lx-marker {
	width: 6px !important;
	height: 6px !important;
	margin-left: -3px !important;
	margin-top: -3px !important;
	border-width: 1px;
}

 
.lx-map-zoom-very-far #map .lx-marker {
	width: 2px !important;
	height: 2px !important;
	margin-left: -1px !important;
	margin-top: -1px !important;
	border-color: rgba(255,255,255,0);
}


.lx-map-zoom-far #map .lx-marker i, .lx-map-zoom-very-far #map .lx-marker  i, .lx-map-zoom-somewhat-far #map .lx-marker  i {
	visibility: hidden;
}



/*----------------------------------------------------------------------------*/
#app-container, .app-mask, #pie-menu-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#app-container {
	z-index: 2000;
	pointer-events: none;
}

.app-mask {	
	z-index: -1;
	background: rgba(255,255,255,1);
    pointer-events: auto;
}

.app-full-screen, .app-left-screen, .app-right-screen {
    pointer-events: auto;
}

#pie-menu {
	position: absolute;
}

#pie-menu.active {
    pointer-events: auto;
	z-index: 5000;
}

.app-frame {
	background: rgba(255,255,255,0.95);
	margin: 1em;
	padding: 0.5em;
	border-radius: 6px;
	overflow: hidden;
}

.app {
	margin: auto;
	position: absolute;
	width: 100%;
	pointer-events: auto;
	left: 0;
	right: 0;
	margin: auto;
}


.app.app-top {
	top: 0;
	bottom: auto;
}

.app.app-left {
	left: 0;
	right: auto;
}

.app.app-right {
	right: 0;
	left: auto;
}

.app.app-bottom {
	bottom: 0;
	top: auto;
}



/*----------------------------------------------------------------------------*/
.lx-marker-shared, .leaflet-touch .leaflet-control-layers, .leaflet-contextmenu,  .leaflet-touch .leaflet-bar, .app-frame {

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.04);
}



/*----------------------------------------------------------------------------*/
#pie-menu > svg { 
	width: 100%; 
	height: 100%; 
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.1));      
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.2));  
}

#pie-menu-mask {
	background: rgba(0,0,0,0.15);
	z-index: 4000;
	display: none;
	pointer-events: none;
}

#pie-menu-mask.active {
	display: block;
	pointer-events: auto;
}

#pie-menu { height: 200px; width: 200px; margin:auto; }

@media (max-width: 200px) { #pie-menu { height: 150px; width: 150px; } }

[class|=wheelnav-pie-menu-slice-basic] { fill: #FFF; stroke: none; 
	fill-opacity: 0.95;
	stroke: #DDD; 
}

#pie-menu > svg image {
	fill-opacity: 0.90;
}

[class|=wheelnav-pie-menu-slice-selected] { fill: #3273dc; 
	stroke: #DDD; }
[class|=wheelnav-pie-menu-slice-hover] { fill: #FFF; 
	stroke: #DDD;  fill-opacity: 1; cursor: pointer; }

[class|=wheelnav-pie-menu-title-basic] { fill: #FFF; stroke: none; }


[class|=wheelnav-pie-menu-title-selected] { stroke: none; }
[class|=wheelnav-pie-menu-title-hover] { stroke: none; cursor: pointer; }
[class|=wheelnav-pie-menu-title] > tspan { font-family: Montserrat, sans-serif; font-weight: 600; font-size: 18px; }



/*----------------------------------------------------------------------------*/
body {
    font-family: "montserrat",sans-serif;
    letter-spacing: 0.06em;
}

h1 { 
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
}

.button {
	font-weight: 500;
	padding: 1.75em 1em;
}



/*----------------------------------------------------------------------------*/
ul.menu li {
	font-weight: 500;
    color: #3273dc;
    padding: 1.25em;
    padding-right: 0.25em;
    border-top: 1px solid #EEE;
    width: 100%;
    display: block;
}



ul.menu li:hover {
    cursor: pointer;
    background: #FFF;
}

ul.menu .icon {
    float: right;
    margin-top: -0.75em;   
    margin-right: 0px;
}

ul.menu i {
	margin-right: 0px;
	padding-right: 0px;
}

ul.menu .inline-btn {
	text-align: center;
	font-weight: 600;
	padding-right: 1.25em;
	font-size: smaller;
	text-transform: uppercase;
}

